
/* share style */
* {
    margin: 0;
    padding: 0;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 
}

.display-flex {
    display: flex;
}

/* dark 02 */
.text-color-dark2 {

    color: #424242;
}

/* header style */

.header-bg-color {

    background-color: rgba(255, 144, 14, 0.1);
}

/* navbar related style */

.navbar {
    justify-content: space-between;
    padding: 25px 50px;

    /* display: flex; */
}

.nav-item {

    list-style: none;
    margin: 15px;
}


.nav-link{
    text-decoration: none;
}



