
/* share style */

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

.display-flex {
    display: flex;
}

/* dark */
.text-color-dark2 {

    color: #424242;
}

.text-color-dark3 {

    color: #727272;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}


/* header style */

.header-bg-color {

    background-color: rgba(255, 144, 14, 0.1);
}


/* navbar related style */

.navbar {
    justify-content: space-between;
    align-items: center;
    /* padding: 25px 50px; */
}

.brand {

    color: #131313;
    font-size: 3rem;
}
.nav-item {

    list-style: none;
    margin: 15px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
    /* padding: 25px 50px; */
}

.baneer-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

.btn-explore {
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
}

.banner-img {

    width: 100%;
}

main{

    max-width: 1440px;
    margin: 0 auto;
}

main > section {

    margin-top: 130px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

#quick-list {
    font-weight: 500;
}

/* fact related style */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 50px;
}
.fact-card {

    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-bottom: 50px;
} 

.fact-number {

    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{

    font-size: 1.25;
    font-weight: 600;
    margin-top: 10px;
}

.fact-descrip {

    max-width: 540px;
    margin-bottom: 50px;
}

/* teams and features related styles */

.teams {
    align-items: center;
    margin: 70px;
}

.team-img-container{

     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 24px;
}


/* responsive media query small device */

@media screen and (max-width: 576px) {

    .navbar, 
    .nav-links, 
    .teams {

        flex-direction: column;
    }
    
    .team-img-container, .facts-container {
        grid-template-columns: 1fr;
    }

    .our-features{
        margin-left: 20px;
    }
    
}


/* responsive media query, medium size device (tab)*/

@media screen and (min-width: 576) and (max-width: 992) {
    
    .teams {

        flex-direction: column;
    }

    .our-features {

        margin: 50px auto;
    }
}